In [26]:
import importlib
import pandas as pd
import numpy as np

In [27]:
# Leer datos
samples_df = pd.read_csv('./../data/samples.csv') 
busstop_df = pd.read_csv('./../data/allbusstop.csv')

# damos el formato correcto al campo datetime
samples_df['datetime'] = pd.to_datetime(samples_df['datetime'])

In [ ]:
import functions as f; importlib.reload(f)

results = []
for n, points_df in samples_df.groupby(by='sample_id'):
    if n >= 1: break 
    print(f'Evaluando sample_id: {points_df.loc[0, 'sample_id']} con {points_df.shape}' )    
    
    # Para colocar el punto mas cercado a buss stop 
    df_stops = busstop_df.copy()
    df_stops['closest_point'] = df_stops.apply(lambda row_stop: f.closest_point(row_stop, points_df), axis=1)

Evaluando sample_id: 0 con (427, 9)
0/1

In [59]:
df_stops

,id,name,navigation,latitude,longitude,tipo,closest_point
0,0,inicio,159,-13.554978,-71.856025,ida,"(13187969, 76.79, 36)"
1,1,primer stop,304,-13.554812,-71.857300,ida,"(13173255, 27.04, 1)"
2,2,segundo stop,281,-13.553294,-71.861944,ida,"(13173279, 19.77, 0)"
3,3,Ccollana,283,-13.552296,-71.867299,ida,"(13173321, 31.14, 1)"
4,4,Puente Huaccoto,283,-13.551592,-71.870211,ida,"(13173346, 5.73, 2)"
...,...,...,...,...,...,...,...
150,150,Tapia,107,-13.549241,-71.878975,vuelta,"(13186850, 39.45, 1)"
151,151,Forestal,107,-13.549985,-71.876345,vuelta,"(13186915, 12.87, 0)"
152,152,Kayra,107,-13.550608,-71.874402,vuelta,"(13187236, 35.59, 2)"
153,153,Puente,105,-13.551644,-71.870166,vuelta,"(13187415, 41.47, 3)"
154,154,Ccollana,101,-13.552338,-71.867369,vuelta,"(13187493, 5.91, 5)"